/*
google-webfonts-helper
https://gwfh.mranftl.com/fonts/roboto?subsets=cyrillic,latin
*/
/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
    font-family: 'Roboto';  
}

h1 {
    font-size: 4.5em;
    text-shadow: 3px 3px 30px #87f8fd;
    color: #fdfd99;
    
}

h2 {
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 2px 2px 5px #032224;

}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5.2em;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 5px #032224;

}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 12px #000000;

}

.dark {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    color: rgb(179, 238, 18);
    text-shadow: 2px 2px 12px rgb(179, 228, 18);
    text-decoration: none; 
}

.main_page_grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    column-gap: 20px;
    /*align-items: center;*/
    min-height: calc(70vh - 70px);
}

.header {
    background: linear-gradient(-45deg, #eef7ba ,10%, #1d2c14 ,90%, #d4d59c);
    border-radius: 10px;    
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header_container img{
    width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}

.header_logo {
   
    margin: auto;
    display: block;
}

.header_text {
    text-align: center;
    padding: 20px;
}

.header_text a {
    text-align: center;
    text-decoration: none;
}

.footer {
    text-align: center;
    background-color: rgb(149, 218, 81);
    height: 100px;
}

.prof1 {
    min-height: auto;
    background-color: rgb(120, 225, 227);

}
.prof2 {
    min-height: auto;
    background-color: rgb(23, 114, 14)
}
.prof3 {
    min-height: auto;
    background-color: rgb(223, 21, 172);

}
.prof4 {
    min-height: auto;
    background-color: rgb(131, 216, 21)
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90% 10%;
    gap: 20px;
    min-height: calc(70vh - 70px);
    margin-top: 10px;
}

.grups{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    background: rgb(120, 225, 227);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: auto;
    font-family:  cursive;
    justify-content: space-around;
}

.podgrup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
}
.grup{
    width: auto;
    height:15px;
    margin: 5px;
    transition: 0.2s;
    padding: 5px;
    background: #23516e;
    border-radius: 7px;
    color: white;
    text-decoration:none;
    padding-bottom: 10px;
    font-size: 15px;
}
.grup:hover{
    width: auto + 10px;
    height: 20px;
    margin: 3px;
    transition: 0.3s;
    background: #e9f4f5;
    color: #23516e;
}

.footer {
    background-color: rgb(149, 218, 81);
    height: 100px;
    border-radius: 10px;
}

.prof {
    background-color: rgb(120, 225, 227);
    border-radius: 10px;

}
.backtomain{
    width: auto;
    height:15px;
    margin: 5px;
    transition: 0.2s;
    padding: 5px;
    background: #23516e;
    border-radius: 7px;
    color: white;
    text-decoration:none;
    padding-bottom: 10px;
    font-size: 15px;}

    
.bg3239{
    background-image: url(../img/circus.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-color: rgb(31, 31, 5);
}

.sisadmin{
width:180px;
height:120px;
}

.digger{
    width:190px;
    height:130px;
    }

.logic{
    width:190px;
    height:130px;
    }

    .informat{
        width:180px;
        height:140px;
        }



    
